body {
  background-color: rgb(226, 224, 222);
}

.header-main {
  margin: 0 auto;
  border-radius: 0;
  padding: 10px;
  height: 54px;
  border: none;
  background: #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.33);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
}

.header-inner {
  border-bottom: #f3f3f3;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;
}

.header-logo {
  background-image: url(http://via.placeholder.com/150x33);
  height: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  z-index: 1;
  height: 34px;
  width: 100%;
  left: 0;
  margin: 0;
}

.container {
  max-width: unset;
}

.container > * {
  margin: 15px;
}

.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 250px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}

.card > .content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}

.card > .content > .header {
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
  color: #534741;
}

.card > .content > .meta {
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

.card > .description {
  margin-top: .5em;
  clear: both;
  color: rgba(0,0,0,.68);
}

.float-card {
  background-color: #f3f3f3;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #bababa;
  padding: 5px;
  margin: 5px;
}

.menu {
  color: #534741;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.menu .menu-item {
  padding: 5px 30px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination {
  text-decoration: unset;
}

.pagination-item {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
}

.pagination-item:hover {
  opacity: .7;
  cursor: pointer;
  color: #000;
}

.pagination-item.active {
  color: brown;
  background-color: antiquewhite;
}